header{
    background-color: maroon;
    color: whitesmoke;
}

h1{
    font-size: 64px;
    font-style: italic;
}
h1, h2, h3{
    font-weight: normal;
    margin-top: 0%;
    margin-bottom: 0%;
}
nav, .navLink{
    align-self: right;
    color: whitesmoke;
    background-color: maroon;
    text-decoration: none;
    font-weight: normal;
    font-size:x-large;
}

body{
    background: rgb(68, 68, 68);
    font-family: 'Anton', sans-serif;
    color: whitesmoke;
}

article{
    border: 10px;
    border-style: outset;
    border-radius: 25px;
    background-color: grey;
    color: whitesmoke;
    
}

.artHeading{
    text-align: center;
    margin-bottom: 0px;
    font-style: italic;
}

table{
    border: 5px;
    border-style: dashed;
    border-color: maroon;
    margin-left: auto;
    margin-right: auto;
    align-items: left;
    border-collapse: collapse;
}
td{
    border-style: dotted;
    margin-left: auto;
    margin-right: auto;
}

footer{
    background-color: black;
    color: whitesmoke;
}

input[type=textarea]{
    width: 50%;
}

.customLink{
    color: white;
    text-decoration: wavy;
    border-style: dotted;
    border-color: black;
}

.footTable{
    border: 5px;
    border-style: dashed;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    align-items: left;
}

.smallPrint{
    font-size: xx-small;
    font-weight: lighter;
}

.headercontainer{
    display: inline-flex;
}
.leftheader{
    flex: auto;
    width:75%
}

.rightheader{
    width: 300px;
    position: fixed;
    border: 1px;
    z-index: 10;
    top: -5px;
    right: 150px;
    display: inline-block;
}

.navLinkRight{
    float: right;
}

.navBtn{
    align-self:inherit;
    margin-left: 90%;
}

#darkmodebutton{
    position: fixed;
    margin-left: 90%;
}

.formlabel{
    display: inline-block;
    width: 15%;
    text-align: right;
}

.formelem{
    width: 25%;
    align-self: center;
    align-items: center;
    margin-left: 2.5%;
}

#btnPrev{
    margin-left: auto;
    vertical-align: auto;
}
#btnNext{
    margin-right: auto;
    vertical-align: auto;
}

.container_imageSlider{
    align-items: center;
    vertical-align: center;
}

