header{
    background-color: maroon;
    color: whitesmoke;
}

nav, .navLink{
    color: whitesmoke;
    background-color: maroon;
}

body{
    background: rgb(68, 68, 68);
    color: whitesmoke;
}

article{
    background-color: grey;
    color: whitesmoke;
    
}

table{
    border-color: maroon;
}

footer{
    background-color: black;
    color: whitesmoke;
}

.customLink{
    color: white;
    border-color: black;
}

.footTable{
    border-color: black;
}