header{
    background-color: blue;
    color: whitesmoke;
}

nav, .navLink{
    color: whitesmoke;
    background-color: blue;
}

body{
    background: lightblue;
    color: black;
}

article{
    background-color: orange;
    color: whitesmoke;
    
}

p{
    color:black;
}

table{
    border-color: blue;
}

footer{
    background-color: white;
    color: black;
}

.customLink{
    color: black;
    border-color: white;
}

.footTable{
    border-color: white;
}